@model Computer_Repair.Models.Accessories

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Accessories</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.KindsOfAccessories.Kind)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.KindsOfAccessories.Kind)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AccessorieName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AccessorieName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Firm)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Firm)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Country)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Country)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ReleaseDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReleaseDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Characteristics)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Characteristics)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.AccessorieId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
