@model PagedList.IPagedList<Computer_Repair.Models.Accessorie>

@using PagedList.Mvc;
@{
    ViewBag.Title = "Accessorie";
}

<h2>Accessorie</h2>

<p>
    @if (User.IsInRole("admin"))
    {
        @Html.ActionLink("Create New", "Create")
    }
    
</p>

@using (Html.BeginForm("Index", "Accessories", FormMethod.Get))
{
    <fieldset>
        AccessorieName: @Html.TextBox("AccessorieFind", "")
        <input type="submit" value="to find" />
    </fieldset>
}

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.First().KindsOfAccessories.KindId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().AccessorieName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().Price)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.KindsOfAccessories.KindId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AccessorieName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td>
            @if (User.IsInRole("admin"))
            {
                @Html.ActionLink("Edit", "Edit", new { id = item.AccessorieId }) 
            }
            @Html.Display("&nbsp;") |
            @Html.ActionLink("Details", "Details", new { id=item.AccessorieId }) |

            @if (User.IsInRole("admin"))
            {
                @Html.ActionLink("Delete", "Delete", new { id = item.AccessorieId })
            }
            
        </td>
    </tr>
}
    @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
</table>
