@model PagedList.IPagedList<Computer_Repair.Models.KindsOfAccessories>

@using PagedList.Mvc;
@{
    ViewBag.Title = "KindsOfAccessories";
}

<h2>KindsOfAccessories</h2>

<p>
    @if (User.IsInRole("admin"))
    {
        @Html.ActionLink("Create New", "Create")
    }
</p>

@using (Html.BeginForm("Index", "KindsOfAccessories", FormMethod.Get))
{
    <fieldset>
        Kind: @Html.TextBox("KindFind", ViewBag.CurrentFilter as string)
        <input type="submit" value="to find" />
    </fieldset>
}

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.First().Kind)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().Description)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Kind)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @if (User.IsInRole("admin"))
            {
                @Html.ActionLink("Edit", "Edit", new { id = item.KindId }) 
            }
            @Html.Display("&nbsp;") |
            @Html.ActionLink("Details", "Details", new { id=item.KindId }) |

            @if (User.IsInRole("admin"))
            {
                @Html.ActionLink("Delete", "Delete", new { id = item.KindId })
            }
        </td>
    </tr>
}
    @Html.PagedListPager(Model, page => Url.Action("Index", new { page, currentFilter = ViewBag.CurrentFilter }))
</table>
