@model IEnumerable<Computer_Repair.Models.KindsOfAccessories>

@{
    ViewBag.Title = "KindOfAccessories";
}

<h2>Kind of Accessories</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.KindId }) |
            @Html.ActionLink("Details", "Details", new { id=item.KindId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.KindId })
        </td>
    </tr>
}

</table>
