@model Computer_Repair.Models.Orders

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Orders</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Customers.Name_Surname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Customers.Name_Surname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Workers.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Workers.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateOfOrder)
        </dt>

        <dd>
            @Model.DateOfOrder.ToShortDateString()
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateOfCompletion)
        </dt>

        <dd>
            @Model.DateOfCompletion.ToShortDateString()
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ListOfAccessories)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ListOfAccessories)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Prepaid)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Prepaid)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Submitted)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Submitted)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Completed)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Completed)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ListOfServices)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ListOfServices)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TotalCost)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TotalCost)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Guarantee)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Guarantee)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.OrderId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
