@model PagedList.IPagedList<Computer_Repair.Models.Orders>

@using PagedList.Mvc;
@{
    ViewBag.Title = "Orders";
}
<div  style="position: absolute; left: 3%; width: auto">
<h2>Orders</h2>

<p>
    @if (User.IsInRole("admin"))
    {
        @Html.ActionLink("Create New", "Create")
    }
</p>
<table class="table">
    <tr>
        <th>
            CustomerName
        </th>
        <th>
            WorkerName
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().DateOfOrder)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().DateOfCompletion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().ListOfAccessories)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().Prepaid)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().Submitted)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().Completed)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().ListOfServices)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().TotalCost)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().Guarantee)
        </th>
        <th><div style="width:135px"></div></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Customers.Name_Surname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Workers.Name)
        </td>
        <td>
            @item.DateOfOrder.ToShortDateString()
        </td>
        <td>
            @item.DateOfCompletion.ToShortDateString()
        </td>
        <th>
            @Html.DisplayFor(modelItem => item.ListOfAccessories)
        </th>
        <td>
            @Html.DisplayFor(modelItem => item.Prepaid)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Submitted)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Completed)
        </td>
        <th>
            @Html.DisplayFor(modelItem => item.ListOfServices)
        </th>
        <td>
            @Html.DisplayFor(modelItem => item.TotalCost)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Guarantee)
        </td>
        <td>
            @if (User.IsInRole("admin"))
            {
                @Html.ActionLink("Edit", "Edit", new { id = item.OrderId })
            }
            @Html.Display("&nbsp;") |
            @Html.ActionLink("Details", "Details", new { id = item.OrderId }) |

            @if (User.IsInRole("admin"))
            {
                @Html.ActionLink("Delete", "Delete", new { id = item.OrderId })
            }
        </td>
    </tr>
}
    @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
</table>
    </div>