@model IEnumerable<Computer_Repair.Models.Orders>

@{
    ViewBag.Title = "Orders";
}
<div  style="position: absolute; left: 3%; width: auto">
<h2>Orders</h2>

<p>
    @if (User.IsInRole("admin"))
    {
        @Html.ActionLink("Create New", "Create")
    }
</p>
<table class="table">
    <tr>
        <th>
            CustomerName
        </th>
        <th>
            WorkerName
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateOfOrder)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateOfComplection)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ListOfAccessories)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Payment)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MarkOfPayment)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MarkOfComplection)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ListOfServices)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TotalCost)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.WarrantyPeriod)
        </th>
        <th><div style="width:135px"></div></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Customers.Name_Surname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Workers.Name)
        </td>
        <td>
            @item.DateOfOrder.ToShortDateString()
        </td>
        <td>
            @item.DateOfComplection.ToShortDateString()
        </td>
        <th>
            @Html.DisplayFor(modelItem => item.ListOfAccessories)
        </th>
        <td>
            @Html.DisplayFor(modelItem => item.Payment)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MarkOfPayment)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MarkOfComplection)
        </td>
        <th>
            @Html.DisplayFor(modelItem => item.ListOfServices)
        </th>
        <td>
            @Html.DisplayFor(modelItem => item.TotalCost)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.WarrantyPeriod)
        </td>
        <td>
            @if (User.IsInRole("admin"))
            {
                @Html.ActionLink("Edit", "Edit", new { id = item.OrderId })
            }
            @Html.Display("&nbsp;") |
            @Html.ActionLink("Details", "Details", new { id = item.OrderId }) |

            @if (User.IsInRole("admin"))
            {
                @Html.ActionLink("Delete", "Delete", new { id = item.OrderId })
            }
        </td>
    </tr>
}

</table>
    </div>