@model PagedList.IPagedList<Computer_Repair.Models.Orders>

@using PagedList.Mvc;
@{
    ViewBag.Title = "Orders";
}
<div  style="position: absolute; left: 3%; width: auto">
<h2>Orders</h2>

<p>
    @if (User.IsInRole("admin"))
    {
        @Html.ActionLink("Create New", "Create")
    }
</p>

    @using (Html.BeginForm("Index", "Orders", FormMethod.Get))
    {
        <fieldset>
            Customer: @Html.TextBox("CustomerFind", ViewBag.CurrentFilter1 as string)
        </fieldset>
        <br>
        <fieldset>
            Accessorie: @Html.TextBox("AccessorieFind", ViewBag.CurrentFilter2 as string)
        </fieldset>
        <br>
        <fieldset>
            Prepaid (uncheck to display all records): @Html.CheckBox("PrepaidFind", ViewBag.CurrentFilter3 as string)
        </fieldset>
        <br>
        <input type="submit" value="to find" />
    }

<table class="table">
    <tr>
        <th>
            Id
        </th>
        <th>
            CustomerName
        </th>
        <th>
            WorkerName
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().DateOfOrder)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().DateOfCompletion)
        </th>
        <th>
            Accessorie
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().Prepaid)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().Submitted)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().Completed)
        </th>
        <th>
            Service
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().TotalCost)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().Guarantee)
        </th>
        <th><div style="width:135px"></div></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <th>
            @Html.DisplayFor(modelItem => item.OrderId)
        </th>
        <td>
            @Html.DisplayFor(modelItem => item.Customers.Name_Surname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Workers.Name)
        </td>
        <td>
            @item.DateOfOrder.ToShortDateString()
        </td>
        <td>
            @item.DateOfCompletion.ToShortDateString()
        </td>
        <th style="font-weight:100">
            @Html.DisplayFor(modelItem => item.Accessories.AccessorieName)
        </th>
        <td>
            @Html.DisplayFor(modelItem => item.Prepaid)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Submitted)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Completed)
        </td>
        <th style="font-weight:100">
            @Html.DisplayFor(modelItem => item.Services.Service)
        </th>
        <td>
            @Html.DisplayFor(modelItem => item.TotalCost)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Guarantee)
        </td>
        <td>
            @if (User.IsInRole("admin"))
            {
                @Html.ActionLink("Edit", "Edit", new { id = item.OrderId })
            }
            @Html.Display("&nbsp;") |
            @Html.ActionLink("Details", "Details", new { id = item.OrderId }) |

            @if (User.IsInRole("admin"))
            {
                @Html.ActionLink("Delete", "Delete", new { id = item.OrderId })
            }
        </td>
    </tr>
}
    @Html.PagedListPager(Model, page => Url.Action("Index", new { page, currentFilter1 = ViewBag.CurrentFilter1, currentFilter2 = ViewBag.CurrentFilter2, currentFilter3 = ViewBag.CurrentFilter3 }))
</table>
    </div>